{% extends 'base.html' %} 
{% block title %} | Home{% endblock title %} 
{% block content %}
<div class="pt-4 mt-3">
    <h3 class="text-center">Welcome to the University of Dodoma Undergraduate Curriculum Guide.</h3>
  <div class="p-3 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
      <h1 class="display-5 fw-bold text-center"> <a href="https://www.udom.ac.tz" target="_blank">The University of Dodoma</a></h1>
      <p class="col-md-9 fs-5 justify-content-center">
        The University of Dodoma (UDOM) is a public university located in the city of Dodoma, the capital of Tanzania.
        It is located at the center of the Country at the Capital city, Dodoma.
        It was established in 2007 with the goal of becoming a leading research and teaching institution in the country. 
        UDOM offers a wide range of undergraduate and graduate programs in fields such as education, engineering, law, medicine, and the social sciences. 
       The university is organized into eight faculties, including the Faculty of Education, the Faculty of Engineering 
       and Technology, and the Faculty of Law. UDOM is committed to providing high-quality education and conducting cutting-edge 
       research to address the challenges facing Tanzania and the broader African continent.
      </p>
      <p class="lead">
        <a href="{% url 'program_list' %}" class="btn btn-primary"
          >View programs offered at UDOM</a
        >
      </p>
    </div>
  </div>
</div>

{% endblock content %}
